@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
margin:0;
}

body {
font-family: 'Balsamiq Sans', cursive;
text-align: center;
}


nav{
display:flex;
justify-content: center;
}
a{
margin:20px;
cursor:pointer;
color:black;
text-decoration: none;
}
header{
background:url('https://i1.faceprep.in/cartoon-background.png');
background-repeat: no-repeat;
background-size: cover;
color:white;
padding:200px;
}
h1{
font-size: 6em;
letter-spacing:10px;
}
h2{font-size: 4em;

}
h4{
font-size: 1.5em;
font-weight:400;
}
h3
{
font-size: 2em;
}
secion,p,img{
padding:10px;
}
.cartoons{
color:white;
text-align:center;
padding:70px;

}

img{
border:5px solid white;
}


p{
font-style: italic;
margin:0 20vw;
}







#tomjerry{
background-color:#FAB201;
}
#shinchan
{
background-color:#FB4F93;
}
#pokemon
{
background-color:#00C7DA;
}